@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px #13218767;
}