@charset "UTF-8";

@media all{
    *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    html, body{
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        background-color: #233eff;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    h1{
        text-align: center;
        color: white;
        text-shadow: 2px 2px 3px #13218767;
    }
}

@media screen and (orientation: portrait) {
    body{
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: bottom center;
    }
}

@media screen and (orientation: landscape) {
    
    body{
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }

    h1{
        font-size: 10vh;
    }
}