@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 30px;
    font-size: 4em;
}

header>p{
    padding-bottom: 30px;
}

header>p>a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header>p>a:hover{
    text-decoration: underline;
}

section{
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 20px;
}

section>p{
    font-size: 2em;
    padding-bottom: 20px;
}

section.normal{
    background-color: white;
    color: black;
}

section#img01{
    background-image: url('imagens/background001.jpg');
}

section#img02{
    background-image: url('imagens/background002.jpg');
}